.list-container {
    width: 460px;
    margin: auto;
    height: 400px;
    position: relative;
    .dopdots {
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
    }
}