.eye-icon {
  width: 32px;
  height: 32px;
  position: relative;
  z-index: 2;
  path {
    fill: #ffffff9b;
  }
  .circle-eye {
    transform-origin: center center;
    fill: #fff;
    transition-duration: 200ms;
    transition-property: transform;
    transition-timing-function:ease-out;
  }
}
