.card {
  background-color: #000000f0;
  width: 380px;
  height: 345px;
  overflow: hidden;
  position: relative;
  transform: translate3d(0px, 5px, 0px);
  h4 {
    color: #fff;
    font-size: 21px;
  }
  .badges {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  a {
    width: 56px;
    height: 27px;
    color: #ffffff9e;
    background-color: #363c4f;
    text-transform: uppercase;
    right: 0px;
    line-height: 26px;
    transition-property: color;
    transition-duration: 150ms;
    &:hover {
      color: #fff;
    }
  }
  .member {
    background-color: #ffffff22;
    height: 27px;
    display: flex;
    line-height: 1px;
    justify-content: center;
    align-items: center;
    padding: 0px 4px;
    text-transform: uppercase;
    svg {
      width: 20px;
      height: 20px;
      margin-right: 4px;
    }
  }
  .createdat {
    width: 56px;
    height: 27px;
    bottom: 10px;
    line-height: 26px;
    left: 0px;
    background-color: #363c4f;
  }
  .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    transform: scale3d(1.4, 1.4, 1);
    filter: invert(0.6) blur(0.3px);
    opacity: 0.3;
    transition-duration: 250ms;
    transition-property: filter, opacity;
    z-index: -1;
  }
  &:hover {
    .cover {
      filter: invert(0.1) blur(0px);
      opacity: 0.4;
    }
  }
}
