.card {
  background-color: #000000f0;
  width: 380px;
  height: 345px;
  overflow: hidden;
  position: relative;
  transform: translate3d(0px, 5px, 0px);
  h4 {
    color: #fff;
    font-size: 21px;
  }
  .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    transform: scale3d(1.4, 1.4, 1);
    filter: invert(0.6) blur(0.3px);
    opacity: 0.3;
    transition-duration: 250ms;
    transition-property: filter, opacity;
    z-index: -1;
  }
  &:hover {
    .cover {
      filter: invert(0.1) blur(0px);
      opacity: 0.4;
    }
  }
}
