.header {
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 70px;
    position: relative;
    width: fit-content;
    height: 66px;
    margin-bottom: 40px;
    margin-top: -40px;
    letter-spacing: 1px;
    line-height: 58px;
    color: #6ddba9;
    animation-name: title;
    animation-duration: 150ms;
    animation-iteration-count: 10;
    &:before,
    &:after {
      content: "";
      width: calc(100% - 5px);
      height: 4px;
      background-color: transparent;
      position: absolute;
      right: 3px;
      background-color: #363c4f;
      animation-name: titleArrow;
      animation-duration: 180ms;
      animation-iteration-count: 1;
      animation-timing-function: linear;
      animation-delay: 1200ms;
    }
    &:before {
      bottom: 13px;
    }
    &:after {
      top: 9px;
    }
    span {
      position: absolute;
      top: 14px;
      left: 4px;
      width: 614px;
      height: 38px;
      background-color: #fff;
      transform: translate3d(0, 0, 0);
      opacity: 0;
      z-index: -2;
      animation-name: titleBg;
      animation-duration: 1250ms;
      animation-iteration-count: 1;
      animation-timing-function: linear;
    }
    @keyframes title {
      0% {
        color: #363c4f;
      }
      50% {
        color: #363c4f;
      }
      55% {
        color: #47506c;
      }
      56% {
        color: #363c4f;
      }
      100% {
        color: #363c4f;
      }
    }
    @keyframes titleBg {
      0% {
        opacity: 0.8;
      }
      8% {
        opacity: 0.8;
      }
      12% {
        opacity: 0.8;
        background-color: #000;
      }
      21% {
        opacity: 0.8;
        background-color: #000;
      }
      22% {
        opacity: 0.8;
        background-color: #00f;
      }
      31% {
        opacity: 0.8;
        background-color: #00f;
      }
      32% {
        opacity: 0.8;
        background-color: #f00;
      }
      39% {
        opacity: 0.8;
        background-color: #f00;
      }
      40% {
        opacity: 0.8;
        background-color: #0f0;
      }
      48% {
        opacity: 0.8;
        background-color: #0f0;
      }
    }
    @keyframes titleArrow {
      0% {
        background-color: #ffffff60;
      }
      50% {
        background-color: transparent;
      }
      100% {
        background-color: #fff;
      }
    }
  }
  @media screen and (max-width: 650px) {
    h1 {
      font-size: 55px;
      &:before {
        bottom: 15px;
      }
      &:after {
        top: 12px;
      }
      span {
        height: 32px;
        width: 489px;
        top: 15px;
      }
    }
  }
  @media screen and (max-width: 500px) {
    h1 {
      font-size: 38px;
      white-space: pre;
      &:before {
        bottom: 20px;
      }
      &:after {
        right: 0;
        width: 100%;
        top: 17px;
      }
      span {
        height: 24px;
        width: 342px;
        top: 17px;
        left: 2px;
      }
    }
  }
}
