.embla {
  overflow: hidden;
}
.container {
  display: flex;
  touch-action: pan-x pinch-zoom;
  margin-top: 10px;
  height: 380px;
  flex-direction: column;
  align-items: center;
}
.slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 100%;
  min-height: 0;
  padding-top: 0rem;
  height: 300px;
}
.buttons {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  button {
    cursor: pointer;
  }
}
.dots {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 5px;
  left: -32px;
  height: 405px;
  flex-wrap: wrap-reverse;
  .dot {
    width: 11px;
    height: 11px;
    border: 0;
    margin-bottom: 5px;
    margin-right: 5px;
    border-radius: 0px;
    background-color: #474c5d;
    padding: 0;
    cursor: pointer;
    &.active {
      background-color: #fff;
    }
  }
}
