.embla {
  overflow: hidden;
}
.container {
  display: flex;
  margin-top: 10px;
  height: 380px;
  flex-direction: column;
  align-items: center;
}
.slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 100%;
  min-height: 0;
  padding-top: 0rem;
  height: 300px;
}
.buttons {
  position: absolute;
  z-index: 1;
  bottom: 8px;
  right: 41px;
  button {
    cursor: pointer;
    border: 0;
    background: #474c5d;
    padding: 4px 6px;
    width: 28px;
    height: 27px;
    svg {
      width: 14px;
      height: 14px;
      opacity: 0.7;
    }
    &:disabled {
      svg {
        opacity: 0.25;
      }
    }
  }
}
.filters {
  position: absolute;
  z-index: 1;
  bottom: 8px;
  left: 40px;
  button {
    border: 0;
    background-color: #363c4f;
    font-family: "League Gothic";
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    margin-right: 12px;
    width: 48px;
    height: 20px;
    color: #ffffff83;
    cursor: pointer;
    &:last-of-type {
      width: 70px;
    }
    &.active {
      color: #6ddba9;
    }
  }
}
.dots {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 5px;
  right: 428px;
  height: 401px;
  flex-wrap: wrap-reverse;
  background-color: #363c4f;
  min-width: 20px;
  width: max-content;
  padding-right: 3px;
  // &:before {
  //   position: absolute;
  //   width: 47px;
  //   content: "";
  //   background-color: #363c4f;
  //   height: calc(100% - 8px);
  //   z-index: -1;
  // }
  // &:after {
  //   content: "";
  //   position: absolute;
  //   width: 16px;
  //   height: 285px;
  //   background-color: #363c4f;
  //   left: -27px;
  //   z-index: -1;
  // }
  .dot {
    width: 9px;
    height: 9px;
    border: 0;
    margin-bottom: 5.325px;
    margin-right: 5px;
    border-radius: 0px;
    background-color: #474c5d;
    padding: 0;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 150ms;
    &.active {
      background-color: #ffffff77;
      animation-name: activeDot;
      animation-iteration-count: 1;
      transform: translate3d(0px, 0px, 0px);
      animation-duration: 100ms;
    }
  }
  @keyframes activeDot {
    0% {
      transform: translate3d(0px, 0px, 0px);
    }
    20% {
      transform: translate3d(3px, 20px, 0px);
    }
    40% {
      transform: translate3d(-3px, -20px, 0px);
    }
    60% {
      transform: translate3d(3px, 20px, 0px);
    }
    80% {
      transform: translate3d(-3px, -20px, 0px);
    }
    100% {
      transform: translate3d(3px, 20px, 0px);
    }
  }
}
