.embla {
  overflow: hidden;
}
.container {
  display: flex;
  height: 380px;
  flex-direction: column;
  align-items: center;
}
.slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 100%;
  min-height: 0;
  padding-top: 0rem;
  height: 300px;
}
.buttons {
  position: absolute;
  z-index: 1;
  bottom: 0px;
  right: 10px;
  button {
    cursor: pointer;
    border: 0;
    background: #474c5d;
    padding: 0;
    width: 25px;
    height: 20px;
    svg {
      width: 14px;
      height: 14px;
      opacity: 0.7;
    }
    &:disabled {
      svg {
        opacity: 0.25;
      }
    }
  }
}
.filters {
  position: absolute;
  z-index: 1;
  bottom: 0px;
  left: 10px;
  button {
    border: 0;
    background-color: #363c4f;
    font-family: "League Gothic";
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    margin-right: 12px;
    width: 48px;
    height: 20px;
    color: #ffffff83;
    cursor: pointer;
    &:last-of-type {
      width: 70px;
    }
    &.active {
      color: #6ddba9;
      box-shadow: 0 0 0 1px;
    }
  }
}
.dots {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 5px;
  right: 392px;
  height: 401px;
  flex-wrap: wrap-reverse;
  min-width: 20px;
  z-index: 1;
  width: max-content;
  &:before,
  &:after {
    content: "";
    position: absolute;
    background-color: #363c4f;
    top: -3px;
    right: 0;
  }
  &.all {
    &:before {
      width: 46px;
      height: 396px;
      right: 2px;
      z-index: -1;
    }
  }
  &:after {
    width: 18px;
    height: 290px;
    z-index: -1;
    right: 40px;
  }
  .dot {
    width: 9px;
    height: 9px;
    border: 0;
    margin-bottom: 5.325px;
    margin-right: 5px;
    border-radius: 0px;
    background-color: #474c5d;
    padding: 0;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 150ms;
    &.active {
      background-color: #ffffff77;
      animation-name: activeDot;
      animation-iteration-count: 1;
      transform: translate3d(0px, 0px, 0px);
      animation-duration: 100ms;
    }
  }
  @keyframes activeDot {
    0% {
      transform: translate3d(0px, 0px, 0px);
    }
    20% {
      transform: translate3d(3px, 20px, 0px);
    }
    40% {
      transform: translate3d(-3px, -20px, 0px);
    }
    60% {
      transform: translate3d(3px, 20px, 0px);
    }
    80% {
      transform: translate3d(-3px, -20px, 0px);
    }
    100% {
      transform: translate3d(3px, 20px, 0px);
    }
  }
}
