.embla {
  overflow: hidden;
}
.container {
  display: flex;
  touch-action: pan-x pinch-zoom;
  margin-top: 10px;
  height: 380px;
  flex-direction: column;
  align-items: center;
}
.slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 100%;
  min-height: 0;
  padding-top: 0rem;
  height: 300px;
}
.buttons {
  position: absolute;
  z-index: 1;
  bottom: 8px;
  right: 41px;
  button {
    cursor: pointer;
    border: 0;
    background: #474c5d;
    padding: 4px 6px;
    svg {
      opacity: 0.8;
    }
    &:disabled {
      svg {
        opacity: 0.3;
      }
    }
  }
}
.filters {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 150px;
  button {
    border: 0;
    background-color: #363c4f;
    font-family: "League Gothic";
    letter-spacing: 1px;
    font-size: 15px;
    cursor: pointer;
  }
}
.dots {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 5px;
  right: 427px;
  height: 405px;
  flex-wrap: wrap-reverse;
  .dot {
    width: 9px;
    height: 9px;
    border: 0;
    margin-bottom: 5px;
    margin-right: 5px;
    border-radius: 0px;
    background-color: #474c5d;
    padding: 0;
    cursor: pointer;
    &.active {
      background-color: #ffffff77;
    }
  }
}
