
#root {
  max-width: 880px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
#root main .canvas-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0.3;
}